
 .heading{
 	text-align: center;
    
	font-color: #F0F3F4;
	

	background-image: url( "https://www.walldevil.com/wallpapers/a24/titles-background-papers-wallpaper-resources-lol-images-wallpapers.jpg");
   margin-left: 40%;
   margin-right: 40%;
 }
.something{
	text-align: center;
}

.table{
	text-align: middle;
	margin: 0% 40% 40% 40%;
}



 table,th,td{
 	border:1px solid black;
 	font-family: Arial, sans-serif;

 
 }
